---
Language: Cpp
BasedOnStyle: WebKit
Cpp11BracedListStyle: true
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
IndentCaseLabels: true
IndentPPDirectives: AfterHash
BreakBeforeBraces: Attach
NamespaceIndentation: None
QualifierAlignment: Left
RequiresClausePosition: WithFollowing
IndentRequiresClause: false
InsertNewlineAtEOF: true
LineEnding: LF
